<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Lets this app trigger the system installer for a downloaded APK
         (see AndroidApkInstaller/update_prompt_io.dart) - required on
         Android 8+ regardless of the FileProvider below; without it the OS
         blocks installation from this app with a "for your security"
         prompt instead of asking the user to grant "install unknown apps"
         access. Harmless to declare even though this app is never
         distributed through the Play Store (sideloaded from GitHub
         releases only), which is the only context where this permission
         draws extra review scrutiny. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="money_manager"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Hands the downloaded update APK (see AndroidApkInstaller, which
             writes it to the app's cache dir via path_provider's
             getTemporaryDirectory()) to the system package installer as a
             content:// URI - a plain file:// URI is blocked on API 24+
             (StrictMode FileUriExposedException) for anything shared
             outside this app's own process. android:exported="false" -
             nothing outside this app can reach it directly; the installer
             app it's handed to gets a one-off grant instead (see
             FLAG_GRANT_READ_URI_PERMISSION in MainActivity.kt). -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
